[submodule "snesrecomp"]
	path = snesrecomp
	url = https://github.com/elliotttate/snesrecomp.git
	branch = dkc2-widescreen-presentation-v0.0.4
[submodule "recomp-ui"]
	path = recomp-ui
	url = https://github.com/mstan/recomp-ui.git
